# Ignore environment files
**/.env

# Ignore dependency folders
**/node_modules/

# Ignore build outputs
**/dist/
**/build/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# .gitignore
node_modules/
.env
dist/
.vscode/
.DS_Store
*.log
frontend/node_modules/
backend/node_modules/
